<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="cart_bonus" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cart Bonus</label>
            <tab>magesuite</tab>
            <resource>MageSuite_CartBonus::config_cartbonus</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="exclude_virtual_product_from_calculation" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude virtual product from calculation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>By enabling it nonphysical product is excluded from calculation.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
